/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .won-form-input {
     min-width: 300px;
 }
.won-form-group {
	max-width: 500px;
}
.won-form-group label, .won-form-group {
	margin-bottom: 10px;
}
.won-form-group label {
	display: block;
	font-weight: 700;
}